<!DOCTYPE html>
<html data-bs-theme="dark">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/jpg" href="{{ asset('images/favicon.png') }}" />
        {% block stylesheets %}
            {{ vite_entry_link_tags('style') }}
        {% endblock %}

        {% block javascripts %}
            {{ vite_entry_script_tags('javascript') }}
        {% endblock %}
    </head>
    <body>
        <header>
            <div class="navbar navbar-dark bg-dark box-shadow">
                <div class="container d-flex justify-content-between">
                    <a href="{{ app.request.getSchemeAndHttpHost() }}" class="navbar-brand d-flex align-items-center">
                        <strong>{{ app.request.server.get('HEADER_TITLE') }}</strong><span style="margin-left: 5px" class="text-secondary">Shortener</span>
                    </a>
                </div>
            </div>
        </header>
        <main role="main" class="d-flex flex-row align-items-center justify-content-center">
            {% block body %}{% endblock %}
        </main>
        <footer class="py-1 py-md-3 mt-5 d-flex w-100 justify-content-center">
            <a href="{{ app.request.server.get('INPRINT_URL') }}" class="text-decoration-none link-secondary footer-link px-4 py-1" target="_blank">
                Inprint <i class="mdi mdi-open-in-new" style="margin-left: 5px"></i>
            </a>
        </footer>
    </body>
</html>
